@font-face {
  font-family: 'KrusyidaScript';
  src: url('KrusyidaScript-w1xOx.ttf');
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 97.3%;

    height: 120px;
    color: #3a1e1e;
    background-size: cover;
    border: 2px solid #a6192e;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-family: 'KrusyidaScript';
    background-color: #fff3c6;
    background-image: url('Main_Banner.png');
    background-position: center;
    z-index: 1;
}


header h1{
    position: relative;
    font-size: 60px;
    font-weight: bold;
    z-index: 10;
    text-align:center;
    top:-25%;
    left:0%;
}

body{
    margin: 0;
    padding-top: 50px;
    position: relative;
    background-size: 750px, auto;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

}

main{

    text-align: center;
}

h1{
    text-align: center;
}

h2{
    font-family: 'Times New Roman';
}

.navbar {
    position: relative;
    width: 65%;
    margin: 0 auto;
    margin-top: 140px;
    background-color: #fff3c6;
    background-image: url('images/nav-bar-background.png');
    background-position: 45% 10%;
    border: 2px solid #a6192e;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
    z-index: 2;
}

.navbar ul {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    list-style-type: none;
}

.navbar li {
    margin: 0 12px;
}

.navbar a {
    color: #3a1e1e;
    background-color: #ffe9b3;
    font-family: 'KrusyidaScript';
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(249, 228, 165, 0.3);
}

.navbar a:hover {
    background-color: #a6192e;
    color: #fff5e6;
    box-shadow: 0 4px 10px rgba(166, 25, 49, 0.3);
}





.box h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #7a1812;
}

.box h2 {
  color: #4a2c2c;
}

.box {
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9e8a8;
    border: 2px solid #7a1812;
    width: 37%;
    max-width: 600px;
    min-width: 250px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
    font-family: 'KrusyidaScript';
    color: #3a1e1e;
    text-align: center;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 20px;
    height: auto;
    overflow: visible;
}

.box2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9e8a8;
    border: 2px solid #7a1812;
    width: 37%;
    max-width: 600px;
    min-width: 250px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
    font-family: 'KrusyidaScript';
    color: #3a1e1e;
    text-align: center;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 20px;
    height: auto;
    overflow: visible;
}


.box2 h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #7a1812;
}

.box2 h2 {
  color: #4a2c2c;
}

.icons{
  position: relative;

}
.box9 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9e8a8;
    border: 2px solid #7a1812;
    width: 20%;
    max-width: 400px;
    min-width: 200px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
    font-family: 'KrusyidaScript';
    color: #3a1e1e;
    text-align: center;
    padding: 20px;
    height: auto;
    overflow: visible;
}



.box4 {
    position: relative;
    background-color: #f9e8a8;
    border: 2px solid #7a1812;
    padding-top: 10px;
    width: 37%;
    max-width: 600px;
    min-width: 250px;
    max-height: 38vh;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
    font-family: 'KrusyidaScript';
    color: #3a1e1e;
    text-align: center;
    top: 84%;
    left: 39%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    overflow-y: auto;
}


.box4 h1 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #7a1812;
}

.box4 h2 {
  color: #4a2c2c;
}


.box5, .box6, .box7, .box8 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 18%;
    height: 113px;
    background-color: #f9e8a8;
    border: 2px solid #7a1812;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(122, 24, 18, 0.25);
    font-family: 'KrusyidaScript';
    color: #3a1e1e;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-right: 4%;
    margin-top: 45px;
}

.box8 {
    margin-right: 0;
}


.button {
    background-color: #f9e8a8;
    color: #7a1812;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #7a1812;
    border-radius: 15px;
    font-family: 'KrusyidaScript';
    display: inline-block;
    box-shadow: 0 2px 5px rgba(249, 228, 165, 0.3);
    z-index: 10;

}

.button:hover {
    background-color: #a6192e;
    color: #fff5e6;
    box-shadow: 0 4px 10px rgba(166, 25, 49, 0.3);
}

.overlay {
  position: relative;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  width:100%;
  height:100%;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    z-index: 9999;
}


.popup-content1 {
    width: 720px;
    height: 600px;
    background: #fff3c6;
    border: 3px solid #a6192e;
    border-radius: 18px;
    padding: 15px 15px 25px 15px;
    box-shadow: 0 6px 12px rgba(122, 25, 18, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a1e1e;
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -360px;
    text-align: center;

}

.popup-content2 {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
    height: 600px;
    text-align: center;

    background-image: url('images/Work_in_Progress.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);

    border: 3px solid #a6192e;
    border-radius: 18px;
    padding: 15px 15px 25px 15px;
    box-shadow: 0 6px 12px rgba(122, 25, 18, 0.5);

    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a1e1e;
}

.popup-content3 {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
    height: 600px;
    text-align: center;

    background-image: url('images/Work_in_Progress.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);

    border: 3px solid #a6192e;
    border-radius: 18px;
    padding: 15px 15px 25px 15px;
    box-shadow: 0 6px 12px rgba(122, 25, 18, 0.5);

    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a1e1e;
}

.popup-content4 {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
    height: 600px;
    text-align: center;

    background-image: url('images/Work_in_Progress.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.9);
    border: 3px solid #a6192e;
    border-radius: 18px;
    padding: 15px 15px 25px 15px;
    box-shadow: 0 6px 12px rgba(122, 25, 18, 0.5);

    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a1e1e;
}

.opponent-info {
    font-size: 20px;
    margin: 2px 0 4px 0;
    user-select: none;
}

.pile-section {
    margin: 4px 0 4px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.claim {
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}


.pile-card {
    width: 60px;
    height: 90px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}


.pile-count {
    margin-top: 4px;
    font-size: 14px;
    user-select: none;
}


.player-info {
    font-size: 20px;
    margin: 4px 0 6px 0;
    user-select: none;
}


.hand {
    margin-top: 4px;
    padding: 5px 10px 0 10px;
    white-space: nowrap;
    overflow-x: auto;
    user-select: none;
    cursor: pointer;
    position: relative;
    height: 100px;
}


.hand img {
    width: 60px;
    height: 90px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    margin-left: -40px;
    transition: transform 0.2s ease;
}
.hand img:first-child {
    margin-left: 0;
}

.hand img:hover {
    transform: translateY(-15px);
    z-index: 10;
}


.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.spit-popup controls{

    display:flex;
}


button {
    padding: 10px 16px;
    border: 2px solid #a6192e;
    background: #f0e4b8;
    color: #3a1e1e;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d9c87c;
}

.log-box {
    margin-top: 10px;
    padding: 8px;
    height: 100px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #a6192e;
    border-radius: 8px;
    font-size: 14px;
    white-space: pre-line;
    user-select: none;
    text-align: left;
}

.pile-section {
    text-align: center;
    margin-bottom: 20px;
}

.pile-card {
    width: 60px;
    height: 90px;
    display: block;
    margin: 0 auto 10px auto;
}

.claim, .pile-count {
    font-weight: bold;
    margin-bottom: 6px;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333333;
}


#bs-popup {
    display: none;
}



#spit-popup {
    display: none;

}


#spoons-popup {
    display: none;
}

#cuarenta-popup {
    display: none;
}
#bg-grid {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(16 * 34px + 15 * 1.73cm);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(16, 34px);
    grid-template-rows: repeat(10, 48px);
    column-gap: 1.73cm;
    row-gap: 1.57cm;
    pointer-events: none;
    z-index: -1;
}



@keyframes spinAndPop {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.25);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

#bg-grid img {
    width: 34px;
    height: 48px;
    user-select: none;
    -webkit-user-drag: none;
    animation: spinAndPop 6s infinite ease-in-out;
    transform-origin: center;
    transition: transform 0.5s ease;
}
